#upcomming {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #212529;
}
#upcommingtitle {
    color: white;
    font-family: 'Montserrat', sans-serif;
}
#events {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.eventlink {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px;
}
.eventimg {
    height: 80px;
    width: 80px;
}
.eventtitle, .eventstatu {
    color: #ffffff;
    font-family: 'Tajawal', sans-serif;
   // line-height: 5px;
    font-size: 14px;
} 
.event:hover {
    animation: scale-up-center 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    background-color: #14171a;
    border-radius: 5px;
    .eventimg {border: none;}
}
@keyframes scale-up-center {
    0% {
              transform: scale(1);
    }
    100% {
              transform: scale(1.2);
    }
  }
  @media (max-width: 850px) {
    #events {
        flex-direction: row;
        justify-content: space-evenly;
    }
 }